{% extends 'base.html' %}

{% block title %}
    LuckyDraw
{% endblock %}

{% block content %}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="max-width: 700px;">
    <h1 class="display-4">What to eat for {{ now|meal }}?</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <a href="/draw" class="btn btn-lg btn-primary">Get started</a>

</div>
{% endblock %}